form.enabled .hidethumb {
    display: none;
}
form input.like-button {
    text-indent: -3000px;
    white-space: nowrap;
    width: 35px;
}
form.enabled .selected{
    display: none;
}
form.enabled input.like-button:hover, form.enabled input.like-button {
    background-image: url("++resource++sg.socialsite.images/thumbs-up-off.png");
}
form.enabled input.dislike-button:hover, form.enabled input.dislike-button {
    background-image: url("++resource++sg.socialsite.images/thumbs-up.png");
}
form.disabled .thumbs-down {
    display: none;
}
.social-button {
    float: left;
    width: 75px;
    height: 65px;
    margin: 0 auto;
    text-align: center;
}
